 @import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

 :root {
     --base-clr: #11121a;
     --line-clr: #42434a;
     --hover-clr: #222533;
     --text-clr: #e6e6ef;
     --accent-clr: #5e63ff;
     --secondry-clr: #b0b3c1;
 }


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Poppins', sans-serif;
     min-height: 100vh;
     min-height: 100dvh;
 }

 .main {
     width: 100%;
     height: 100vh;
 }


 .main .nav {
     width: 100%;
     border: 1px solid black;
     padding: 10px 15px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .nav .logo {
     width: 15%;
     height: 50px;
     display: flex;
     align-items: center;
     border: 1px solid black;
 }

 .nav .logo svg {
     width: 30px;
     height: 30px;
 }


 .logo img {
     width: 100px;
     height: inherit;
     margin: 0px 0px -7px 10px;
 }

 .nav .search_section {
     width: 40%;
     height: 50px;
     /* border: 1px solid red; */
     display: flex;
     align-items: center;
     justify-content: space-between;
 }


 .search_section .search_input {
     width: 75%;
     height: 40px;
     /* border: 1px solid #000; */
     display: flex;
     align-items: center;
     border-radius: 30px;
 }

 .search_input input {
     width: calc(100% - 50px);
     height: inherit;
     border-radius: 30px 0px 0px 30px;
     text-indent: 30px;
     font-size: 18px;
 }

 .search_input input:focus {
     outline: 1px solid #5e63ff;
 }

 .search_input button {
     width: 50px;
     height: inherit;
     text-align: center;
     background: none;
     font-size: 20px;
     border-radius: 0px 30px 30px 0px;
     border-left: none;
 }

 .mic_icon {
     width: 35px;
     height: 35px;
     border-radius: 50%;
     font-size: 18px;
     display: flex;
     align-items: center;
     justify-content: center;
     background: #b0bac1;
     transition: .5ms ease-in-out;
 }

 .mic_icon:hover {
    background-color: #D9D9D9;
 }
 .container {
     width: 100%;
     height: 100vh;
     border: 1px solid var(--line-clr);
     display: grid;
     grid-template-columns: auto 1fr;

 }

 #sidebar {
     width: 250px;
     height: 100vh;
     border: 1px solid var(--line-clr);
     padding: 10px 0px;
     position: fixed;
     top: 0;
     overflow-y: scroll;
 }

 #sidebar .logo a {
     display: flex;
     align-items: center;
     padding: 5px 0px;
     border: 1px solid red;
 }

 #sidebar .logo img {
     width: 8em;
     height: 40px;
     object-fit: cover;
     margin-left: 10px;
 }

 #sidebar .logo+ul {
     margin-top: 15px;
 }


 #sidebar ul,
 .logo {
     padding: 0px 0px 0px 10px;
 }

 #sidebar ul {
     list-style: none;
 }

 #sidebar ul li {
     border-radius: .8em;
     border: 1px solid red;
     padding-left: 5px;
     margin: 5px 0px;

 }

 #sidebar ul li a {
     text-decoration: none;
     color: #000;
     /* border: 1px solid red; */
     padding: 5px 0px;
     display: grid;
     grid-template-columns: 30px auto;
     align-items: center;
     grid-gap: .8em;
     font-size: 15px;
 }

 #sidebar ul li svg {
     width: 30px;
     height: 30px;
     fill: black;
 }


 #sidebar .section_ul,
 #sidebar .section_ul {
     border-top: 1px solid #ccc;
     padding: 6px 0px;
 }

 #sidebar .section_ul .section_title {
     /* padding-left: 10px; */
     font-weight: 500;
     font-size: 20px;
     margin-left: 10px;
 }

 .section_title a {
     padding-left: 10px;
     text-decoration: none;
     display: inline-flex;
     align-items: center;
     color: black;
 }

 .section_title a span {
     font-size: 20px;
 }

 .section_title a svg {
     width: 15px;
     height: 15px;
     margin-left: 5px;
     fill: black;
 }

 #sidebar ul li:hover {
     background: #f1f1f1;
 }